<!--

Run the Person Tracking nodelet, using a pre-recorded bag file:
roslaunch realsense_ros_person demo_person_tracking_from_bag.launch bag_path:=my_value

-->

<launch>

  <arg name="bag_path" default="$(env HOME)/test_pt_640x480c_320x240d.bag" />
  <include file="$(find realsense_ros_camera)/launch/play_bag.launch">
    <arg name="bag_path" value="$(arg bag_path)"/>
  </include>

  <include file="$(find realsense_ros_person)/launch/person_tracking.launch"/>

  <node pkg="realsense_ros_person" type="realsense_ros_person_sample" name="realsense_ros_person_sample"
            args="load realsense_ros_person/realsense_ros_person_sample node" output="screen">
            <param name="recognitionEnabled"      type="bool"  value="false" />
            <param name="skeletonEnabled"         type="bool"  value="false" />
            <param name="pointingGestureEnabled"  type="bool"  value="false" />
            <param name="waveGestureEnabled"      type="bool"  value="true" />
            <param name="landmarksEnabled"        type="bool"  value="false" />
            <param name="headBoundingBoxEnabled"  type="bool"  value="false" />
            <param name="headPoseEnabled"         type="bool"  value="false" />
    </node>

</launch>
