<launch>

     <node pkg="nodelet" type="nodelet" name="rs_slam" args="standalone rs_slam_test/SNodeletSlam" output="screen" launch-prefix="gdb -ex run --args">
         <rosparam file="$(find rs_slam_test)/launch/params.yaml" command="load"/>
     </node>
	 <!--launch-prefix="gdb -ex run --><!--args"/-->
</launch>
