<launch>

  <arg name="depth_fps" default="30"/>
  <arg name="color_fps" default="30"/>
  <include file="$(find realsense_camera)/launch/r200_nodelet_modify_params.launch">
    <arg name="depth_width"       value="320" />
    <arg name="depth_height"      value="240" />
    <arg name="color_width"       value="640" />
    <arg name="color_height"      value="480" />
    <arg name="depth_fps"         value="$(arg depth_fps)" />
    <arg name="color_fps"         value="$(arg color_fps)" />
  </include>
  
  <param name="depth_fps"         type="int"  value="$(arg depth_fps)" />
  <param name="color_fps"         type="int"  value="$(arg color_fps)" />

  <node pkg="nodelet" type="nodelet" name="realsense_pt" args="standalone realsense_pt_demo/TNodeletPt" output="screen">
     <rosparam file="$(find realsense_pt_demo)/launch/test_pt_params.yaml" command="load"/>
  </node>

</launch>

