<!--
    Launch file for testing if the dynamic camera options get set correctly using params.

    Steps:
    roslaunch realsense_camera realsense_r200_dynamic_camera_options_params.launch
    rosrun realsense_camera realsense_camera_test color_backlight_compensation 3 color_brightness 10 color_contrast 16 color_gain 18 color_gamma 100 color_hue 20 color_saturation 21 color_sharpness 7 color_enable_auto_white_balance 0 color_white_balance 3000 r200_lr_gain 200 r200_emitter_enabled 1 r200_lr_exposure 27
    Verify that the "testCameraOptions" test pass.
-->

<launch>

    <arg name="mode"                                            default="manual" />
    <arg name="enable_depth"                                    default="true" />
    <arg name="enable_color"                                    default="true" />
    <arg name="enable_pointcloud"                               default="true" />
    <arg name="enable_tf"                                       default="true" />
    <arg name="depth_width"                                     default="320" />
    <arg name="depth_height"                                    default="240" />
    <arg name="color_width"                                     default="320" />
    <arg name="color_height"                                    default="240" />
    <arg name="depth_fps"                                       default="60" />
    <arg name="color_fps"                                       default="60" />
    <arg name="camera"                                          default="R200" />

    <arg name="color_backlight_compensation"                    default="3" />
    <arg name="color_brightness"                                default="10" />
    <arg name="color_contrast"                                  default="16" />
    <arg name="color_gain"                                      default="18" />
    <arg name="color_gamma"                                     default="19" />
    <arg name="color_hue"                                       default="20" />
    <arg name="color_saturation"                                default="21" />
    <arg name="color_sharpness"                                 default="22" />
    <arg name="color_enable_auto_white_balance"                 default="0" />
    <arg name="color_white_balance"                             default="3000" />
    <arg name="r200_lr_gain"                                    default="200" />
    <arg name="r200_emitter_enabled"                            default="1" />
    <arg name="r200_lr_exposure"                                default="27" />


  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="realsense_nodelet"
    args="load realsense_camera/RealsenseNodelet standalone_nodelet">
    <param name="mode"                                              type="str"  value="$(arg mode)" />
    <param name="enable_depth"                                      type="bool" value="$(arg enable_depth)" />
    <param name="enable_color"                                      type="bool" value="$(arg enable_color)" />
    <param name="enable_pointcloud"                                 type="bool" value="$(arg enable_pointcloud)" />
    <param name="enable_tf"                                         type="bool" value="$(arg enable_tf)" />
    <param name="depth_width"                                       type="int"  value="$(arg depth_width)" />
    <param name="depth_height"                                      type="int"  value="$(arg depth_height)" />
    <param name="color_width"                                       type="int"  value="$(arg color_width)" />
    <param name="color_height"                                      type="int"  value="$(arg color_height)" />
    <param name="depth_fps"                                         type="int"  value="$(arg depth_fps)" />
    <param name="color_fps"                                         type="int"  value="$(arg color_fps)" />
    <param name="camera"                                            type="str"  value="$(arg camera)" />

    <param name="color_backlight_compensation"                      type="int" value="$(arg color_backlight_compensation)" />
    <param name="color_brightness"                                  type="int" value="$(arg color_brightness)" />
    <param name="color_contrast"                                    type="int" value="$(arg color_contrast)" />
    <param name="color_gain"                                        type="int" value="$(arg color_gain)" />
    <param name="color_gamma"                                       type="int" value="$(arg color_gamma)" />
    <param name="color_hue"                                         type="int" value="$(arg color_hue)" />
    <param name="color_saturation"                                  type="int" value="$(arg color_saturation)" />
    <param name="color_sharpness"                                   type="int" value="$(arg color_sharpness)" />
    <param name="color_enable_auto_white_balance"                   type="int" value="$(arg color_enable_auto_white_balance)" />
    <param name="color_white_balance"                               type="int" value="$(arg color_white_balance)" />
    <param name="r200_lr_gain"                                      type="int" value="$(arg r200_lr_gain)" />
    <param name="r200_emitter_enabled"                              type="bool" value="$(arg r200_emitter_enabled)" />
    <param name="r200_lr_exposure"                                  type="int" value="$(arg r200_lr_exposure)" />
  </node>

</launch>
