<launch>

	<arg name="mode" default="manual" />
	<arg name="color_height" default="240" />
	<arg name="color_width" default="320" />
	<arg name="depth_height" default="252" />
	<arg name="depth_width" default="332" />
	<arg name="enable_depth" default="true" />
	<arg name="enable_color" default="true" />
	<arg name="enable_pointcloud" default="true" />
	<arg name="enable_tf" default="true" />
	<arg name="depth_fps" default="60" />
	<arg name="color_fps" default="60" />	
	
  	<node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
  	
    <node pkg="nodelet" type="nodelet" name="RealsenseNodelet"
        args="load realsense_camera/RealsenseNodelet standalone_nodelet">
        <param name="mode"              type="str"  value="$(arg mode)" />
        <param name="enable_depth"      type="bool" value="$(arg enable_depth)" />
        <param name="enable_color"      type="bool" value="$(arg enable_color)" />
        <param name="enable_pointcloud" type="bool" value="$(arg enable_pointcloud)" />
        <param name="enable_tf"         type="bool" value="$(arg enable_tf)" />
        <param name="depth_width"       type="int"  value="$(arg depth_width)" />
        <param name="depth_height"      type="int"  value="$(arg depth_height)" />
        <param name="color_width"       type="int"  value="$(arg color_width)" />
        <param name="color_height"      type="int"  value="$(arg color_height)" />
        <param name="depth_fps"         type="int"  value="$(arg depth_fps)" />
        <param name="color_fps"         type="int"  value="$(arg color_fps)" />
    </node>

</launch> 
