<!--
    Launch file for testing if the static camera options get set correctly using params.

    Steps:
    roslaunch realsense_camera realsense_r200_static_camera_options_params.launch
    rosrun realsense_camera realsense_camera_test r200_depth_units 2 r200_depth_clamp_min 3 r200_depth_clamp_max 4 r200_depth_control_estimate_median_decrement 5 r200_depth_control_estimate_median_increment 6 r200_depth_control_median_threshold 7 r200_depth_control_score_minimum_threshold 8 r200_depth_control_score_maximum_threshold 9 r200_depth_control_texture_count_threshold 10 r200_depth_control_texture_difference_threshold 11 r200_depth_control_second_peak_threshold 12 r200_depth_control_neighbor_threshold 13 r200_depth_control_lr_threshold 14
    Verify that the "testCameraOptions" test pass.
-->

<launch>

    <arg name="mode"                                            default="preset" />

    <arg name="r200_depth_units"                                default="2" />
    <arg name="r200_depth_clamp_min"                            default="3" />
    <arg name="r200_depth_clamp_max"                            default="4" />
    <arg name="r200_depth_control_estimate_median_decrement"    default="5" />
    <arg name="r200_depth_control_estimate_median_increment"    default="6" />
    <arg name="r200_depth_control_median_threshold"             default="7" />
    <arg name="r200_depth_control_score_minimum_threshold"      default="8" />
    <arg name="r200_depth_control_score_maximum_threshold"      default="9" />
    <arg name="r200_depth_control_texture_count_threshold"      default="10" />
    <arg name="r200_depth_control_texture_difference_threshold" default="11" />
    <arg name="r200_depth_control_second_peak_threshold"        default="12" />
    <arg name="r200_depth_control_neighbor_threshold"           default="13" />
    <arg name="r200_depth_control_lr_threshold"                 default="14" />

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="realsense_nodelet"
    args="load realsense_camera/RealsenseNodelet standalone_nodelet">
    <param name="mode"                                              type="str"  value="$(arg mode)" />

    <param name="r200_depth_units"                                  type="int" value="$(arg r200_depth_units)" />
    <param name="r200_depth_clamp_min"                              type="int" value="$(arg r200_depth_clamp_min)" />
    <param name="r200_depth_clamp_max"                              type="int" value="$(arg r200_depth_clamp_max)" />
    <param name="r200_depth_control_estimate_median_decrement"      type="int" value="$(arg r200_depth_control_estimate_median_decrement)" />
    <param name="r200_depth_control_estimate_median_increment"      type="int" value="$(arg r200_depth_control_estimate_median_increment)" />
    <param name="r200_depth_control_median_threshold"               type="int" value="$(arg r200_depth_control_median_threshold)" />
    <param name="r200_depth_control_score_minimum_threshold"        type="int" value="$(arg r200_depth_control_score_minimum_threshold)" />
    <param name="r200_depth_control_score_maximum_threshold"        type="int" value="$(arg r200_depth_control_score_maximum_threshold)" />
    <param name="r200_depth_control_texture_count_threshold"        type="int" value="$(arg r200_depth_control_texture_count_threshold)" />
    <param name="r200_depth_control_texture_difference_threshold"   type="int" value="$(arg r200_depth_control_texture_difference_threshold)" />
    <param name="r200_depth_control_second_peak_threshold"          type="int" value="$(arg r200_depth_control_second_peak_threshold)" />
    <param name="r200_depth_control_neighbor_threshold"             type="int" value="$(arg r200_depth_control_neighbor_threshold)" />
    <param name="r200_depth_control_lr_threshold"                   type="int" value="$(arg r200_depth_control_lr_threshold)" />
  </node>

</launch>
