<launch>
  <arg name="serial_no"         default=""/>
  <arg name="json_file_path"    default=""/>
  <arg name="camera"            default="camera"/>
  <arg name="rosbag_filename"   default=""/>
  
  <arg name="fisheye_width"       default="0"/>
  <arg name="fisheye_height"      default="0"/>
  <arg name="enable_fisheye"      default="true"/>

  <arg name="depth_width"         default="0"/>
  <arg name="depth_height"        default="0"/>
  <arg name="enable_depth"        default="true"/>

  <arg name="infra1_width"        default="0"/>
  <arg name="infra1_height"       default="0"/>
  <arg name="enable_infra1"       default="true"/>

  <arg name="infra2_width"        default="0"/>
  <arg name="infra2_height"       default="0"/>
  <arg name="enable_infra2"       default="true"/>

  <arg name="color_width"         default="0"/>
  <arg name="color_height"        default="0"/>
  <arg name="enable_color"        default="true"/>

  <arg name="fisheye_fps"         default="0"/>
  <arg name="depth_fps"           default="0"/>
  <arg name="infra1_fps"          default="0"/>
  <arg name="infra2_fps"          default="0"/>
  <arg name="color_fps"           default="0"/>
  <arg name="gyro_fps"            default="1000"/>
  <arg name="accel_fps"           default="1000"/>
  <arg name="enable_imu"          default="true"/>

  <arg name="enable_pointcloud"   default="false"/>
  <arg name="enable_sync"         default="false"/>

  <arg name="align_depth"         default="false"/>
  <arg name="filters"             default=""/>


  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no)"/>
      <arg name="json_file_path"           value="$(arg json_file_path)"/>
      <arg name="rosbag_filename"           value="$(arg rosbag_filename)"/>

      <arg name="enable_pointcloud"        value="$(arg enable_pointcloud)"/>
      <arg name="enable_sync"              value="$(arg enable_sync)"/>
      <arg name="align_depth"              value="$(arg align_depth)"/>

      <arg name="fisheye_width"            value="$(arg fisheye_width)"/>
      <arg name="fisheye_height"           value="$(arg fisheye_height)"/>
      <arg name="enable_fisheye"           value="$(arg enable_fisheye)"/>

      <arg name="depth_width"              value="$(arg depth_width)"/>
      <arg name="depth_height"             value="$(arg depth_height)"/>
      <arg name="enable_depth"             value="$(arg enable_depth)"/>

      <arg name="color_width"              value="$(arg color_width)"/>
      <arg name="color_height"             value="$(arg color_height)"/>
      <arg name="enable_color"             value="$(arg enable_color)"/>

      <arg name="infra1_width"             value="$(arg infra1_width)"/>
      <arg name="infra1_height"            value="$(arg infra1_height)"/>
      <arg name="enable_infra1"            value="$(arg enable_infra1)"/>

      <arg name="infra2_width"             value="$(arg infra2_width)"/>
      <arg name="infra2_height"            value="$(arg infra2_height)"/>
      <arg name="enable_infra2"            value="$(arg enable_infra2)"/>

      <arg name="fisheye_fps"              value="$(arg fisheye_fps)"/>
      <arg name="depth_fps"                value="$(arg depth_fps)"/>
      <arg name="infra1_fps"               value="$(arg infra1_fps)"/>
      <arg name="infra2_fps"               value="$(arg infra2_fps)"/>
      <arg name="color_fps"                value="$(arg color_fps)"/>
      <arg name="gyro_fps"                 value="$(arg gyro_fps)"/>
      <arg name="accel_fps"                value="$(arg accel_fps)"/>
      <arg name="enable_imu"               value="$(arg enable_imu)"/>
      <arg name="filters"                  value="$(arg filters)"/>
    </include>
  </group>
</launch>
