<launch>
  <arg name="serial_no_camera1"    			default=""/> 			<!-- Note: Replace with actual serial number -->
  <arg name="serial_no_camera2"    			default=""/> 			<!-- Note: Replace with actual serial number -->
  <arg name="camera1"              			default="camera1"/>		<!-- Note: Replace with camera name -->
  <arg name="camera2"              			default="camera2"/>		<!-- Note: Replace with camera name -->
  <arg name="tf_prefix_camera1"           	default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"           	default="$(arg camera2)"/>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"     value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"		value="$(arg tf_prefix_camera1)"/>
    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"     value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		value="$(arg tf_prefix_camera2)"/>
    </include>
  </group>
</launch>
