<!--
Launch file to quickly simulate the mapping of a room
Easier for debugging and testing purposes

Author: Raphael Groscot

Arguments:
	[REQ] ~bag_file: the recorded bag from the real mapping. Path relative to the user ~home directory. Should contain the following topics:
		* /camera/depth/image_raw
		* /camera/depth/camera_info
		* /scan
		* /tf

	[OPT] ~home: Parent folder of the bag file. Default = ~ (user home)

	[OPT] ~camera: The name of the camera used during the recording (r200, kinect, ...). Default = r200

	[OPT] ~no_mapping: Don't start the GMapping process. Default = false

	[OPT] ~depth_enhance: Use the depth enhance nodelet. Default = false

	[OPT] ~display_depth: display, in RVIZ, the depth image. Default = true
-->
<launch>
	<!-- ARGS -->
	<arg name="bag_file"/>
	<arg name="home" default="$(env HOME)"/>
	<arg name="camera" default="r200"/>
	<arg name="no_mapping" default="false"/>
	<arg name="depth_enhance" default="false"/>
	<arg name="display_depth" default="true"/>

	<param name="use_sim_time" value="true" /> <!-- otherwise, rviz ignores the published tf -->

	<!-- The robot description, to have the model available in RVIZ -->
	<include file="$(find realsense_navigation)/launch/realsense_robot_description.launch"/>

	<!-- RVIZ with custom layout -->
	<node if="$(arg display_depth)" pkg="rviz" type="rviz" name="rviz" args="-d $(find realsense_navigation)/rviz/navigation_r200.rviz"/>
	<node unless="$(arg display_depth)" pkg="rviz" type="rviz" name="rviz" args="-d $(find realsense_navigation)/rviz/navigation_r200_without_depth.rviz"/>

	<!-- Custom GMapping -->
	<include unless="$(arg no_mapping)" file="$(find realsense_navigation)/launch/gmapping.launch">
		<arg name="3d_sensor" value="$(arg camera)"/>
	</include>

	<!-- Depth enhance nodelet -->
	<include if="$(arg depth_enhance)" file="$(find realsense_depth_enhance)/launch/realsense_depth_enhance.launch">
		<arg name="manager" value="camera/camera_nodelet_manager"/>
	</include>

	<!-- Bagfile player -->
	<node if="$(arg depth_enhance)" pkg="rosbag" type="play" name="player" output="screen" args="--pause --clock $(arg home)/$(arg bag_file) /camera/depth/image_raw:=/camera/depth/preprocess"/>
	<node unless="$(arg depth_enhance)" pkg="rosbag" type="play" name="player" output="screen" args="--pause --clock $(arg home)/$(arg bag_file)"/>
</launch>
