<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : minimal
    - 3d Sensor : r200
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find realsense_navigation)/robot_description/turtlebot_library_extended.urdf.xacro" />
  
  <kobuki/>
  <stack_minimal parent="base_link"/>
  <sensor_r200  parent="base_link"/>
</robot>