<launch>
    <include file="$(find realsense2_camera)/launch/rs_d400_and_t265.launch">
      <arg name="serial_no_camera1" value="T265_SN"/> 			<!-- Note: Replace with actual serial number (camera1 default: t265)-->
      <arg name="serial_no_camera2" value="D400_SN"/> 			<!-- Note: Replace with actual serial number (camera2 default: d400)-->
    </include>
</launch>
