<launch>
  <arg name="bag_path" default="$(env HOME)/test_or_1920x1080c_320x240d.bag" />
  <include file="$(find realsense_ros_camera)/launch/play_bag.launch">
    <arg name="bag_path" value="$(arg bag_path)"/>
  </include>

  <include file="$(find realsense_ros_object)/launch/object.launch"/>
</launch>
