<!--

Record a test stream from the camera, into a ROS bag for later playback with Object
roslaunch realsense_ros_camera record_bag_object.launch bag_path:=my_value

--> 
<launch>
  <arg name="bag_path" default="$(env HOME)/test_or_1920x1080c_320x240d.bag" />
  <arg name="bag_topics" default="/camera/color/image_raw/compressed /camera/color/camera_info /camera/depth/image_raw/compressedDepth /camera/depth/camera_info"/>

  <node pkg="rosbag" type="record" name="rosbag" args="-o $(arg bag_path) $(arg bag_topics)"/>

  <include file="$(find realsense_ros_camera)/launch/camera.launch">
    <arg name="enable_fisheye" value="false"/>
    <arg name="depth_width" value="320"/>
    <arg name="depth_height" value="240"/>
    <arg name="enable_depth" value="true"/>
    <arg name="color_width" value="1920"/>
    <arg name="color_height" value="1080"/>
    <arg name="enable_color" value="true"/>
  </include>
</launch>
