<launch>
<include file="$(find realsense_ros_camera)/launch/slam_camera.launch"/>
	<node pkg="nodelet" type="nodelet" name="rs_slam" args="standalone realsense_ros_slam/SNodeletSlam" output="screen">
         <rosparam file="$(find realsense_ros_slam)/launch/params.yaml" command="load"/>
     </node>
	 <!--launch-prefix="gdb -ex run --><!--args"/-->
</launch>
