<!--

Run the SLAM nodelet, using a pre-recorded bag file:
roslaunch realsense_ros_slam demo_slam_from_bag.launch bag_path:=my_value

-->
<launch>
  <arg name="manager" default="realsense_ros_camera_manager"/>
  <arg name="bag_path" default="$(env HOME)/test_slam_320x240d_640x480f_imu.bag" />
  <include file="$(find realsense_ros_camera)/launch/play_bag.launch">
    <arg name="manager" value="$(arg manager)"/>
    <arg name="bag_path" value="$(arg bag_path)"/>
  </include>
  <include file="$(find realsense_ros_slam)/launch/setup_demo.launch">
    <arg name="manager" value="$(arg manager)"/>
  </include>
</launch>
