<launch>
	<arg name="3d_sensor"	default="$(env TURTLEBOT_3D_SENSOR)" />
	<arg name="scan_topic"  default="scan" />
	<arg name="base_frame"  default="base_footprint"/>
	<arg name="odom_frame"  default="odom"/>

	<include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
		<arg name="rgb_processing"		value="false" />
		<arg name="depth_registration"	value="false" />
		<arg name="depth_processing"	value="false" />
		<arg name="3d_sensor"			value="$(arg 3d_sensor)"/>

		<!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
		Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 --> 
		<arg name="scan_topic" value="/scan" />
	</include>

	<!-- Copied from the gmapping.launch.xml file (turtlebot_navigation), so we can change here the parameters of the algorithm -->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<param name="base_frame" value="$(arg base_frame)"/>
		<param name="odom_frame" value="$(arg odom_frame)"/>
		<param name="map_update_interval" value="5.0"/>
		<param name="maxUrange" value="6.0"/>
		<param name="maxRange" value="8.0"/>
		<param name="sigma" value="0.05"/>
		<param name="kernelSize" value="1"/>
		<param name="lstep" value="0.05"/>
		<param name="astep" value="0.05"/>
		<param name="iterations" value="5"/>
		<param name="lsigma" value="0.075"/>
		<param name="ogain" value="3.0"/>
		<param name="lskip" value="0"/>
		<param name="minimumScore" value="250"/> <!-- previous: 50 -->
		<param name="srr" value="0.01"/>
		<param name="srt" value="0.02"/>
		<param name="str" value="0.01"/>
		<param name="stt" value="0.02"/>
		<param name="linearUpdate" value="0.5"/>
		<param name="angularUpdate" value="0.218"/> <!-- prev 0.436 -->
		<param name="temporalUpdate" value="5.0"/>
		<param name="resampleThreshold" value="0.5"/>
		<param name="particles" value="80"/> <!-- prev 80 -->

		<param name="xmin" value="-1.0"/>
		<param name="ymin" value="-1.0"/>
		<param name="xmax" value="1.0"/>
		<param name="ymax" value="1.0"/>

		<param name="delta" value="0.01"/> <!-- previous: 0.05 -->
		<param name="llsamplerange" value="0.01"/>
		<param name="llsamplestep" value="0.01"/>
		<param name="lasamplerange" value="0.005"/>
		<param name="lasamplestep" value="0.005"/>
		<remap from="scan" to="$(arg scan_topic)"/>
	</node>

	<include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>

</launch>
