<!-- Launch file used in navigation package -->
<launch>
  <arg name="manager"      value="nodelet_manager" />
  <arg name="camera"       default="camera" />
  <arg name="camera_type"  default="R200" /> <!-- Type of camera -->
  <arg name="serial_no"    default="" />
  <arg name="usb_port_id"  default="" /> <!-- USB "Bus#-Port#" -->
  <arg name="enable_depth"      default="true" />
  <arg name="enable_color"      default="true" />
  <arg name="enable_pointcloud" default="true" />
  <arg name="enable_tf"         default="true" />
  <arg name="mode"              default="preset" />

  <param name="$(arg camera)/enable_depth"      type="bool" value="$(arg enable_depth)" />
  <param name="$(arg camera)/enable_color"      type="bool" value="$(arg enable_color)" />
  <param name="$(arg camera)/enable_pointcloud" type="bool" value="$(arg enable_pointcloud)" />
  <param name="$(arg camera)/enable_tf"         type="bool" value="$(arg enable_tf)" />
  <param name="$(arg camera)/mode"              type="str"  value="$(arg mode)" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

  <include file="$(find realsense_camera)/launch/includes/nodelet.launch.xml">
    <arg name="manager"      value="$(arg manager)" />
    <arg name="camera"       value="$(arg camera)" />
    <arg name="camera_type"  value="$(arg camera_type)" />
    <arg name="serial_no"    value="$(arg serial_no)" />
    <arg name="usb_port_id"  value="$(arg usb_port_id)" />
  </include>
</launch>
