<!-- Sample launch file for modifying the parameters of RealSense R200 camera -->
<launch>
  <arg name="manager"      value="nodelet_manager" />
  <arg name="camera"       default="camera" />
  <arg name="camera_type"  default="R200" /> <!-- Type of camera -->
  <arg name="serial_no"    default="" />
  <arg name="usb_port_id"  default="" /> <!-- USB "Bus#-Port#" -->

  <!-- These 'arg' tags are just place-holders for passing values from test files.
  The recommended way is to pass the values directly into the 'param' tags. -->
  <arg name="enable_depth"      default="true" />
  <arg name="enable_color"      default="true" />
  <arg name="enable_pointcloud" default="true" />
  <arg name="enable_tf"         default="true" />
  <arg name="mode"              default="manual" />
  <arg name="depth_width"       default="640" />
  <arg name="depth_height"      default="480" />
  <arg name="color_width"       default="1920" />
  <arg name="color_height"      default="1080" />
  <arg name="depth_fps"         default="30" />
  <arg name="color_fps"         default="30" />

  <param name="$(arg camera)/driver/enable_depth"      type="bool" value="$(arg enable_depth)" />
  <param name="$(arg camera)/driver/enable_color"      type="bool" value="$(arg enable_color)" />
  <param name="$(arg camera)/driver/enable_pointcloud" type="bool" value="$(arg enable_pointcloud)" />
  <param name="$(arg camera)/driver/enable_tf"         type="bool" value="$(arg enable_tf)" />
  <param name="$(arg camera)/driver/mode"              type="str"  value="$(arg mode)" />
  <param name="$(arg camera)/driver/depth_width"       type="int"  value="$(arg depth_width)" />
  <param name="$(arg camera)/driver/depth_height"      type="int"  value="$(arg depth_height)" />
  <param name="$(arg camera)/driver/color_width"       type="int"  value="$(arg color_width)" />
  <param name="$(arg camera)/driver/color_height"      type="int"  value="$(arg color_height)" />
  <param name="$(arg camera)/driver/depth_fps"         type="int"  value="$(arg depth_fps)" />
  <param name="$(arg camera)/driver/color_fps"         type="int"  value="$(arg color_fps)" />
  <!-- Refer to the README file for list of supported parameters -->

  <group ns="$(arg camera)">
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

    <include file="$(find realsense_camera)/launch/includes/nodelet.launch.xml">
      <arg name="manager"      value="$(arg manager)" />
      <arg name="camera"       value="$(arg camera)" />
      <arg name="camera_type"  value="$(arg camera_type)" />
      <arg name="serial_no"    value="$(arg serial_no)" />
      <arg name="usb_port_id"  value="$(arg usb_port_id)" />
    </include>
  </group>
</launch>
