<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <link name="base_link" />
  <sensor_d435 parent="base_link" name="camera1">
    <origin xyz="0.1 0 0" rpy="0 0 0"/>
  </sensor_d435>

  <sensor_d435 parent="base_link" name="camera2">
    <origin xyz="-0.1 0 0" rpy="0 0 3.1456"/>
  </sensor_d435>
</robot>
