#!/usr/bin/env python

PACKAGE="realsense_camera"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#             Name                               Type      Level       Description                     Default    Min     Max
gen.add("enable_depth",                          bool_t,   0,          "Enable Depth",                 True)
gen.add("COLOR_BACKLIGHT_COMPENSATION",          int_t,    0,          "Backlight Compensation",       1,         0,      4)
gen.add("COLOR_BRIGHTNESS",                      int_t,    0,          "Brightness",                   56,        0,      255)
gen.add("COLOR_CONTRAST",                        int_t,    0,          "Contrast",                     32,        16,     64)
gen.add("COLOR_GAIN",                            int_t,    0,          "Gain",                         32,        0,      256)
gen.add("COLOR_GAMMA",                           int_t,    0,          "Gamma",                        220,       100,    280)
gen.add("COLOR_HUE",                             int_t,    0,          "Hue",                          0,         -2200,  2200)
gen.add("COLOR_SATURATION",                      int_t,    0,          "Saturation",                   128,       0,      255)
gen.add("COLOR_SHARPNESS",                       int_t,    0,          "Sharpness",                    0,         0,      7)
gen.add("COLOR_WHITE_BALANCE",                   int_t,    0,          "White Balance",                6500,      2000,   8000)
gen.add("COLOR_ENABLE_AUTO_WHITE_BALANCE",       int_t,    0,          "Enable Auto White Balance",    1,         0,      1)
gen.add("R200_LR_AUTO_EXPOSURE_ENABLED",         int_t,    0,          "LR Auto Exposure Enabled",     0,         0,      1)
gen.add("R200_LR_GAIN",                          int_t,    0,          "LR Gain",                      400,       100,    6399)
gen.add("R200_LR_EXPOSURE",                      int_t,    0,          "LR Exposure",                  164,       1,      164)
gen.add("R200_EMITTER_ENABLED",                  int_t,    0,          "Emitter Enabled",              1,         0,      1)
gen.add("R200_DISPARITY_MULTIPLIER",             int_t,    0,          "Disparity Multiplier",         32,        1,      1000)
gen.add("R200_AUTO_EXPOSURE_TOP_EDGE",           int_t,    0,          "Auto Exposure Top Edge",       0,         0,      479)
gen.add("R200_AUTO_EXPOSURE_BOTTOM_EDGE",        int_t,    0,          "Auto Exposure Bottom Edge",    479,       0,      479)
gen.add("R200_AUTO_EXPOSURE_LEFT_EDGE",          int_t,    0,          "Auto Exposure Left Edge",      0,         0,      639)
gen.add("R200_AUTO_EXPOSURE_RIGHT_EDGE",         int_t,    0,          "Auto Exposure Right Edge",     639,       0,      639)

exit(gen.generate(PACKAGE, "realsense_camera", "camera_params"))
