<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="../urdf/_d415.urdf.xacro" />
  
  <xacro:arg name="use_nominal_extrinsics" default="True" />
  <link name="base_link" />
  <xacro:sensor_d415 parent="base_link" name="camera_bottom">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d415>
  <xacro:sensor_d415 parent="base_link" name="camera_top">
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
  </xacro:sensor_d415>
</robot>
